/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/montserrat-v18-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/montserrat-v18-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/montserrat-v18-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/montserrat-v18-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/montserrat-v18-latin-regular.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-v21-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/noto-sans-v21-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/noto-sans-v21-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/noto-sans-v21-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/noto-sans-v21-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/noto-sans-v21-latin-regular.svg#NotoSans')
			format('svg'); /* Legacy iOS */
}

/* icons */
i img {
	width: 1rem;
	margin-left: 0.5rem;
	vertical-align: middle;
	text-align: center;
}

html {
	overflow-y: scroll;
}

body {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.top-spacer {
	margin-top: 2em;
}

.headerRow {
	width: 100%;
}

.shownone div:nth-of-type(3) {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	background-color: #a7ca1a;
	width: 25%;
	font-weight: 600;
	color: white;
	font-size: 0.75em;
	position: static;
}

.boxShadow {
	box-shadow: 0px 0px 20px 5px #aaaaaa;
}

thead .header {
	width: 25%;
	text-align: center;
	padding: 1.2em;
}

.header h5 {
	font-size: 1.12rem;
	margin: 1em 0em;
	font-weight: 900;
}

.header h1 {
	color: #636363;
	font-size: 2.25em;
	font-weight: 900;
}

.header span {
	font-size: 0.8rem;
	color: #969696;
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-size: 0.75em;
}

.header.bottom {
	padding: 1.8em;
	box-sizing: border-box;
}

.buyBlock {
	width: 80%;
	border-radius: 0.5em;
	padding: 0.5em;
	font-size: 1.12rem;
	font-weight: bold;
	box-sizing: border-box;
	color: #ffffff;
	margin: 0 auto;
	margin-top: 2rem;
	cursor: pointer;
}

.buyBlock.noMargin {
	margin: 0 auto;
}

.purple {
	background-color: #7d6e99;
}

.green {
	background-color: #a7ca1a;
}

.blue {
	background-color: #4c7da5;
}

tbody tr td {
	text-align: center;
	vertical-align: middle;
}

tbody .trigger th {
	padding-left: 3em;
}

tbody .trigger {
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-weight: 900;
	transition-duration: 0.3s;
}

tr .statTitle {
	padding-left: 3em;
}

.statTitle {
	font-weight: 600;
	color: #777777;
}

.content td {
	font-weight: 600;
	color: #777777;
}

.hideBody {
	display: none;
}

.active {
	display: table-row-group;
}

/* hover transitions */
/* buy buttons */
@keyframes grow-animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.buyBlock:hover {
	animation: grow-animation 1s linear forwards;
}

/* collapse titles */
.trigger:hover {
	color: #a7ca1a;
	transition-duration: 0.3s;
}

/* dropdown menu */
.trigger {
	position: relative;
	cursor: pointer;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */
}
.trigger th::before {
	content: '>';
	display: inline-block;
	position: absolute;
	left: 20px;
	transform: rotate(90deg) scale(0.5, 1);
	font-weight: bold;
	transition: transform 0.3s;
}
.trigger.flip th::before {
	transform: rotate(-90deg) scale(0.5, 1);
}

/* media queries */

@media screen and (max-width: 1031px) {
	.buyBlock {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 960px) {
	.buyBlock {
		font-size: 0.5em;
	}
}

@media screen and (max-width: 768px) {
	body {
		margin: none;
	}
	.shownone div:nth-of-type(3) {
		display: none;
	}
}
